/web_api_b2c_auth/.idea/.idea.web_api_b2c_auth/.idea/codeStyles/codeStyleConfig.xml
/web_api_b2c_auth/.idea/.idea.web_api_b2c_auth/.idea/contentModel.xml
/web_api_b2c_auth/.idea/.idea.web_api_b2c_auth/.idea/encodings.xml
/web_api_b2c_auth/.idea/.idea.web_api_b2c_auth/.idea/indexLayout.xml
/web_api_b2c_auth/.idea/.idea.web_api_b2c_auth/.idea/modules.xml
/web_api_b2c_auth/.idea/.idea.web_api_b2c_auth/.idea/projectSettingsUpdater.xml
/web_api_b2c_auth/.idea/.idea.web_api_b2c_auth/.idea/vcs.xml
/web_api_b2c_auth/.idea/.idea.web_api_b2c_auth/.idea/workspace.xml
/web_api_b2c_auth/.idea/.idea.web_api_b2c_auth/riderModule.iml
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/appsettings.Development.json
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/appsettings.json
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/web_api_b2c_auth.deps.json
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/web_api_b2c_auth.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/web_api_b2c_auth.exe
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/web_api_b2c_auth.pdb
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/web_api_b2c_auth.runtimeconfig.dev.json
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/web_api_b2c_auth.runtimeconfig.json
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/staticwebassets/web_api_b2c_auth.StaticWebAssets.Manifest.cache
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/staticwebassets/web_api_b2c_auth.StaticWebAssets.xml
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.AssemblyInfo.cs
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.AssemblyInfoInputs.cache
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.MvcApplicationPartsAssemblyInfo.cache
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.RazorTargetAssemblyInfo.cache
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.assets.cache
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.csproj.CopyComplete
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.csproj.CoreCompileInputs.cache
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.csproj.FileListAbsolute.txt
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.csprojAssemblyReference.cache
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.dll
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.exe
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.genruntimeconfig.cache
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.pdb
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Azure.Core.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Azure.Identity.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Azure.Security.KeyVault.Certificates.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Azure.Security.KeyVault.Secrets.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.Extensions.Msal.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/Microsoft.Identity.Web.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/System.Text.Encodings.Web.dll
/web_api_b2c_auth/web_api_b2c_auth/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/web_api_b2c_auth/web_api_b2c_auth/obj/Debug/netcoreapp3.1/web_api_b2c_auth.MvcApplicationPartsAssemblyInfo.cs
